<h3 style="color:purple">Yearly Period</h3>

In [1]:
import pandas as pd
y = pd.Period('2018')
y

Period('2018', 'A-DEC')

In [2]:
y.start_time

Timestamp('2018-01-01 00:00:00')

In [3]:
y.end_time

Timestamp('2018-12-31 23:59:59.999999999')

In [4]:
y.is_leap_year

False

In [5]:
y.days_in_month

31

In [6]:
y.dayofyear

365

<h3 style="color:purple">Monthly Period</h3>

In [8]:
m = pd.Period('2017-12')
m

Period('2017-12', 'M')

In [9]:
m.start_time

Timestamp('2017-12-01 00:00:00')

In [10]:
m.end_time

Timestamp('2017-12-31 23:59:59.999999999')

In [11]:
m+1

Period('2018-01', 'M')

In [12]:
second_month = m+ 2

In [13]:
second_month.start_time

Timestamp('2018-02-01 00:00:00')

<h3 style="color:purple">Daily Period</h3>

In [14]:
d = pd.Period('2016-02-28', freq='D')
d

Period('2016-02-28', 'D')

In [15]:
d.start_time

Timestamp('2016-02-28 00:00:00')

In [16]:
d.end_time

Timestamp('2016-02-28 23:59:59.999999999')

In [17]:
d+1

Period('2016-02-29', 'D')

<h3 style="color:purple">Hourly Period</h3>

In [18]:
h = pd.Period('2017-08-15 23:00:00',freq='H')
h

Period('2017-08-15 23:00', 'H')

In [19]:
h+1

Period('2017-08-16 00:00', 'H')

<h4>Achieve same results using pandas offsets hour</h4>

In [26]:
h + pd.offsets.Hour(1)

Period('2017-08-16 00:00', 'H')

<h3 style="color:purple">Quarterly Period</h3>

In [20]:
q1= pd.Period('2017', freq='Q-FEB')
q1.freq

In [21]:
q1.start_time,q1.end_time

(Timestamp('2016-12-01 00:00:00'), Timestamp('2017-02-28 23:59:59.999999999'))

In [27]:
q1= pd.Period('2017q2', freq='Q-FEB') # take first quarter
q1.freq

In [28]:
q1.start_time,q1.end_time

(Timestamp('2016-06-01 00:00:00'), Timestamp('2016-08-31 23:59:59.999999999'))

In [90]:
q1= pd.Period('2017q2', freq='Q-FEB')  # take second quarter
q1.freq

In [91]:
q1.start_time,q1.end_time

(Timestamp('2016-06-01 00:00:00'), Timestamp('2016-08-31 23:59:59.999999999'))

In [29]:
q1= pd.Period('2017q1', freq='Q-MAR')
q1.freq

In [30]:
q1.start_time,q1.end_time

(Timestamp('2016-04-01 00:00:00'), Timestamp('2016-06-30 23:59:59.999999999'))

In [49]:
q1= pd.Period('2017q2', freq='Q')
q1.freq

In [50]:
q1.start_time,q1.end_time

(Timestamp('2017-04-01 00:00:00'), Timestamp('2017-06-30 23:59:59.999999999'))

In [42]:
q4= pd.Period('2017q4', freq='Q-nov')
q4.freq

In [44]:
q4.start_time

Timestamp('2017-09-01 00:00:00')

In [43]:
q1= pd.Period('2017q1', freq='Q-nov')
q1.freq
q1.start_time,q1.end_time

(Timestamp('2016-12-01 00:00:00'), Timestamp('2017-02-28 23:59:59.999999999'))

In [103]:
q4.start_time,q1.end_time

(Timestamp('2017-09-01 00:00:00'), Timestamp('2017-02-28 23:59:59.999999999'))

<h4>Use asfreq to convert period to a different frequency</h4>

In [51]:
q1.start_time,q1.end_time

(Timestamp('2017-04-01 00:00:00'), Timestamp('2017-06-30 23:59:59.999999999'))

In [52]:
monthly=q1.asfreq('M',how='start')

In [53]:
monthly.start_time,monthly.end_time

(Timestamp('2017-04-01 00:00:00'), Timestamp('2017-04-30 23:59:59.999999999'))

In [54]:
q1.start_time,q1.end_time

(Timestamp('2017-04-01 00:00:00'), Timestamp('2017-06-30 23:59:59.999999999'))

In [55]:
last_quarter_month=q1.asfreq('M',how='end')

In [56]:
q1.end_time

Timestamp('2017-06-30 23:59:59.999999999')

In [112]:
last_quarter_month.start_time, last_quarter_month.end_time

(Timestamp('2017-02-01 00:00:00'), Timestamp('2017-02-28 23:59:59.999999999'))

<h3 style="color:purple">Weekly Period</h3>

In [57]:
w = pd.Period('2018-05-12',freq='W')
w

Period('2018-05-07/2018-05-13', 'W-SUN')

In [58]:
w.start_time,w.end_time

(Timestamp('2018-05-07 00:00:00'), Timestamp('2018-05-13 23:59:59.999999999'))

In [59]:
w+1

Period('2018-05-14/2018-05-20', 'W-SUN')

In [60]:
w2 = pd.Period('2017-08-15',freq='W')
w2

Period('2017-08-14/2017-08-20', 'W-SUN')

In [63]:
w-w2

38

<h3 style="color:purple">PeriodIndex and period_range</h3>

In [64]:
r = pd.period_range('2011', '2012', freq='q-feb')
print(r)
print('\n')
print(r[0].start_time,r[0].end_time)
print('\n')
print(r[1].start_time,r[1].end_time)
print('\n')
print(r[2].start_time,r[2].end_time)

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4'], dtype='period[Q-FEB]', freq='Q-FEB')


2010-12-01 00:00:00 2011-02-28 23:59:59.999999999


2011-03-01 00:00:00 2011-05-31 23:59:59.999999999


2011-06-01 00:00:00 2011-08-31 23:59:59.999999999

In [68]:
r = pd.period_range('2011', '2012', freq='q')
print(r)
print('\n')
print(r[0].start_time,r[0].end_time)
print('\n')
print(r[1].start_time,r[1].end_time)
print('\n')
print(r[2].start_time,r[2].end_time)
print('\n')
print(r[3].start_time,r[3].end_time)
print('\n')
print(r[4].start_time,r[4].end_time)

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1'], dtype='period[Q-DEC]', freq='Q-DEC')


2011-01-01 00:00:00 2011-03-31 23:59:59.999999999


2011-04-01 00:00:00 2011-06-30 23:59:59.999999999


2011-07-01 00:00:00 2011-09-30 23:59:59.999999999


2011-10-01 00:00:00 2011-12-31 23:59:59.999999999


2012-01-01 00:00:00 2012-03-31 23:59:59.999999999

In [69]:
r1 = pd.period_range('2011', '2011', freq='q')
r1

PeriodIndex(['2011Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

In [70]:
r1[0].start_time,r1[0].end_time

(Timestamp('2011-01-01 00:00:00'), Timestamp('2011-03-31 23:59:59.999999999'))

In [126]:
r[4].start_time

Timestamp('2012-01-01 00:00:00')

In [127]:
r[4].end_time

Timestamp('2012-03-31 23:59:59.999999999')

**Walmart's fiscal year ends in Jan, below is how you generate walmart's fiscal quarters between 2011 and 2017**

In [72]:
r = pd.period_range('2011', '2017', freq='q-jan')
r

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [ ]:
r[0].start_time

In [ ]:
r[0].end_time

In [ ]:
r[len(r)-1].start_time,r[len(r)-1].end_time

In [ ]:
r = pd.PeriodIndex(start='2016-01', freq='3M', periods=10)
r

In [ ]:
r[0].start_time,r[0].end_time

In [74]:
import numpy as np
ps = pd.Series(np.random.randn(len(r)), r)
ps

2011Q4   -0.000927
2012Q1    0.408871
2012Q2   -0.584712
2012Q3    0.881843
2012Q4   -0.208736
2013Q1   -1.070634
2013Q2   -0.789721
2013Q3   -0.500869
2013Q4    1.410951
2014Q1   -0.095810
2014Q2    0.794258
2014Q3    2.072798
2014Q4    0.426746
2015Q1   -0.427512
2015Q2    0.648818
2015Q3    0.720725
2015Q4    2.137308
2016Q1    0.567759
2016Q2   -0.177736
2016Q3    0.406939
2016Q4   -0.460948
2017Q1    0.310113
2017Q2    0.821022
2017Q3   -0.059626
2017Q4    0.990686
Freq: Q-JAN, dtype: float64

<h4>Partial Indexing</h4>

In [75]:
ps['2016']

2016Q4   -0.460948
2017Q1    0.310113
2017Q2    0.821022
2017Q3   -0.059626
2017Q4    0.990686
Freq: Q-JAN, dtype: float64

In [76]:
ps['2016':'2017']

2016Q4   -0.460948
2017Q1    0.310113
2017Q2    0.821022
2017Q3   -0.059626
2017Q4    0.990686
Freq: Q-JAN, dtype: float64

<h4>Converting between representations</h4>

In [77]:
pst = ps.to_timestamp()
pst

2010-11-01   -0.000927
2011-02-01    0.408871
2011-05-01   -0.584712
2011-08-01    0.881843
2011-11-01   -0.208736
2012-02-01   -1.070634
2012-05-01   -0.789721
2012-08-01   -0.500869
2012-11-01    1.410951
2013-02-01   -0.095810
2013-05-01    0.794258
2013-08-01    2.072798
2013-11-01    0.426746
2014-02-01   -0.427512
2014-05-01    0.648818
2014-08-01    0.720725
2014-11-01    2.137308
2015-02-01    0.567759
2015-05-01   -0.177736
2015-08-01    0.406939
2015-11-01   -0.460948
2016-02-01    0.310113
2016-05-01    0.821022
2016-08-01   -0.059626
2016-11-01    0.990686
Freq: QS-NOV, dtype: float64

In [ ]:
pst.index

In [78]:
ps = pst.to_period()
ps

2010Q4   -0.000927
2011Q1    0.408871
2011Q2   -0.584712
2011Q3    0.881843
2011Q4   -0.208736
2012Q1   -1.070634
2012Q2   -0.789721
2012Q3   -0.500869
2012Q4    1.410951
2013Q1   -0.095810
2013Q2    0.794258
2013Q3    2.072798
2013Q4    0.426746
2014Q1   -0.427512
2014Q2    0.648818
2014Q3    0.720725
2014Q4    2.137308
2015Q1    0.567759
2015Q2   -0.177736
2015Q3    0.406939
2015Q4   -0.460948
2016Q1    0.310113
2016Q2    0.821022
2016Q3   -0.059626
2016Q4    0.990686
Freq: Q-DEC, dtype: float64

In [ ]:
ps.index

<h3 style="color:purple">Processing Wal Mart's Financials</h3>

In [79]:
import pandas as pd
df = pd.read_csv("wmt.csv")
df

  Line Item  2011Q1  2011Q2  2011Q3  2011Q4  2012Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [80]:
df.set_index("Line Item",inplace=True)
df = df.T
df

Line Item  Revenue  Expenses  Profit
2011Q1      115904     86544   29360
2011Q2      120854     89485   31369
2011Q3      118179     87484   30695
2011Q4      130936     97743   33193
2012Q1      117542     87688   29854

In [81]:
#converting the object type to period index type
df.index = pd.PeriodIndex(df.index, freq="Q-JAN")
df

Line Item  Revenue  Expenses  Profit
2011Q1      115904     86544   29360
2011Q2      120854     89485   31369
2011Q3      118179     87484   30695
2011Q4      130936     97743   33193
2012Q1      117542     87688   29854

In [ ]:
df.index

In [ ]:
df.index[0].start_time,

In [ ]:
df.index

In [ ]:
df.index[1].start_time

<h4 style="color:green">Add start date end date columns to dataframe</h4>

In [82]:
df["Start Date"]=df.index.map(lambda x: x.start_time)
df

Line Item  Revenue  Expenses  Profit Start Date
2011Q1      115904     86544   29360 2010-02-01
2011Q2      120854     89485   31369 2010-05-01
2011Q3      118179     87484   30695 2010-08-01
2011Q4      130936     97743   33193 2010-11-01
2012Q1      117542     87688   29854 2011-02-01

In [83]:
df["End Date"]=df.index.map(lambda x: x.end_time)
df

Line Item  Revenue  Expenses  Profit Start Date   End Date
2011Q1      115904     86544   29360 2010-02-01 2010-04-30
2011Q2      120854     89485   31369 2010-05-01 2010-07-31
2011Q3      118179     87484   30695 2010-08-01 2010-10-31
2011Q4      130936     97743   33193 2010-11-01 2011-01-31
2012Q1      117542     87688   29854 2011-02-01 2011-04-30

In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame([["_a","_b"],["c_","d_"]],columns=["check", "check1"])

In [4]:
df

  check check1
0    _a     _b
1    c_     d_

In [7]:
df.replace(to_replace="_a",value="sfsad")

   check check1
0  sfsad     _b
1     c_     d_